[submodule "3rd/ltask"]
	path = 3rd/ltask
	url = https://github.com/cloudwu/ltask.git
[submodule "3rd/sokol"]
	path = 3rd/sokol
	url = https://github.com/floooh/sokol.git
[submodule "3rd/lua"]
	path = 3rd/lua
	url = https://github.com/lua/lua.git
